$primary: #ddc3a5;
$secondary: #201e20;
$third: #e0a96d;

$white: #fff;
$dark: #000;

// Text-colors
$text-primary: $primary;
$text-secondary: $secondary;
$text-white: $white;
$text-dark: $dark;
$text-third: $third;
