.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.unstyled-list {
  list-style: none;
  margin: 0;
  padding: 0;

  a {
    text-decoration: none;
  }
}

.margin-auto {
  margin: 0 auto;
}
