.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.form {
  margin: 0 auto;
  padding: 5.5em 2.5em;
  display: flex;
  gap: 2em;
  flex-direction: column;
  background: $secondary;
  color: #fff;

  h2 {
    font-size: 2rem;
  }

  input {
    font-size: 1.5rem;
    outline: transparent;
    padding: 0.5em;
    background: $secondary;
    border: none;
    border-bottom: 5px solid $primary;
    color: $white;

    &:focus {
      border-bottom: 5px solid lighten($color: $primary, $amount: 15%);
    }
  }

  a {
    margin: 1em auto 0;
  }
}
