.big-tittle-wrapper {
  text-align: center;
  padding: 2em 0;

  @media (min-width: 700px) {
    padding: 3em 0;
  }

  .big-tittle {
    font-size: 2.5rem;
    line-height: 1.2;

    @media (min-width: 700px) {
      font-size: 3.5rem;
    }
  }
}

.main-title {
  text-align: center;
  font-size: 1.75rem;
  margin: 1em 0;
  line-height: 1;

  h3 {
    color: rgb(70, 69, 69);
  }

  @media (min-width: 700px) {
    font-size: 2rem;
  }
}

.text-align-center {
  text-align: center;
}
