.btn {
  cursor: pointer;
  font-size: 1rem;
  padding: 0.5em 1.5em;
  font-weight: $fw-bold;
  transition: all ease-in-out 250ms;
  @media (min-width: 700px) {
    font-size: 1.25rem;
  }
}

.btn-primary {
  background: $secondary;
  border: 5px solid $primary;

  &:hover,
  &:focus {
    background: $primary;
    color: $secondary;
  }
}

.btn-secondary {
  background: $primary;
  border: 5px solid $secondary;

  &:hover,
  &:focus {
    background: $secondary;
    color: $white;
  }
}

.btn-ghost {
  background: $white;
  border: 5px solid $dark;

  &:hover,
  &:focus {
    background: $dark;
    color: $white;
  }

  @media (min-width: 700px) {
    font-size: 1rem;
  }

  @media (max-width: 330px) {
    display: inline-block;
    &:first-of-type {
      margin-bottom: 0.5em;
    }
  }
}

.btn-red {
  background-color: $white;
  border: 5px solid red;

  &:hover,
  &:focus {
    background: red;
    color: $white;
  }

  @media (min-width: 700px) {
    font-size: 1rem;
  }

  @media (max-width: 330px) {
    display: inline-block;
    &:first-of-type {
      margin-bottom: 0.5em;
    }
  }
}

.btn-red.classic {
  background: $primary;
  font-size: 1rem;

  &:hover,
  &:focus {
    background: red;
  }
  @media (min-width: 700px) {
    font-size: 1.25rem;
  }
}

.plus-btn {
  margin-left: 0.5em;
  font-weight: $fw-black;
}

.button-container {
  flex-direction: row;
  justify-content: space-evenly;

  @media (max-width: 500px) {
    flex-direction: column;
    gap: 0.5em;

    a {
      margin: 0 auto;
    }
  }
}
