.btn {
  cursor: pointer;
  font-size: 1rem;
  padding: 0.5em 1.5em;
  font-weight: $fw-bold;
  transition: all ease-in-out 250ms;
  @media (min-width: 700px) {
    font-size: 1.25rem;
  }
}

.btn-primary {
  background: $secondary;
  border: 5px solid $primary;

  &:hover,
  &:focus {
    background: $primary;
    color: $secondary;
  }
}

.btn-secondary {
  background: $primary;
  border: 5px solid $secondary;

  &:hover,
  &:focus {
    background: $secondary;
    color: $white;
  }
}

.btn-ghost {
  background: $white;
  border: 5px solid $dark;

  &:hover,
  &:focus {
    background: $dark;
    color: $white;
  }

  @media (min-width: 700px) {
    font-size: 1rem;
  }
}
