.btn {
  cursor: pointer;
  font-size: 1.5rem;
  padding: 0.5em 1.5em;
  font-weight: $fw-bold;
}

.btn-primary {
  background: $secondary;
  border: 5px solid $primary;

  &:hover,
  &:focus {
    background: $primary;
    border: 5px solid $primary;
    color: $secondary;
  }
}
