.form {
  max-width: 700px;
  margin: 0 auto;
  padding: 4em 2em;
  display: flex;
  gap: 2em;
  flex-direction: column;
  background: $secondary;
  color: #fff;
  @media (min-width: 700px) {
    padding: 5em 3em;
    gap: 3em;
  }

  h2 {
    font-size: 2rem;
    @media (min-width: 700px) {
      font-size: 2.25rem;
    }
  }

  input {
    width: 100%;
    font-size: 1rem;
    outline: transparent;
    padding: 0.5em;
    background: $secondary;
    border: none;
    border-bottom: 5px solid $primary;
    color: $white;
    @media (min-width: 700px) {
      font-size: 1.25rem;
    }

    &:focus {
      border-bottom: 5px solid lighten($color: $primary, $amount: 15%);
    }
  }

  button {
    color: $white;
    margin: 1em auto 0;
  }
}

.hidden {
  display: none;
}

.input-control {
  &.error input {
    border-bottom: 5px solid rgb(206, 26, 26);
  }

  & .error {
    color: red;
    font-size: 0.8rem;
    height: 0;
    @media (min-width: 700px) {
      font-size: 1.05rem;
    }
  }
}

.register {
  position: absolute;
  top: 2em;
  left: 0;
  right: 0;
  bottom: 0;
}

.verification {
  position: absolute;
  top: 4em;
  left: 0;
  right: 0;
  bottom: 0;
}

.change-password-section {
  position: absolute;
  top: 4em;
  left: 0;
  right: 0;
  bottom: 0;
}

.header-close {
  h2 {
    float: left;
  }

  a {
    float: right;
    font-size: 2rem;
    cursor: pointer;
  }
}

.form-section-main {
  position: absolute;
  top: 10em;
  left: 0;
  right: 0;
  bottom: 0;
  form {
    box-shadow: rgba(0, 0, 0, 0.8) 0 0 0 10000px;
  }
}
