.login {
  .login-form {
    margin-bottom: 0.5em;
  }

  .register-btn {
    text-align: center;
    padding-bottom: 0.5em;
  }

  p {
    font-size: 1.25rem;
    @media (min-width: 700px) {
      font-size: 1.5em;
    }
  }
}
